registry=https://registry.yarnpkg.com/
@types:registry=https://registry.yarnpkg.com/
@supabase:registry=https://registry.yarnpkg.com/
@anthropic-ai:registry=https://registry.yarnpkg.com/
@aws-sdk:registry=https://registry.yarnpkg.com/
@eslint:registry=https://registry.yarnpkg.com/
@tailwindcss:registry=https://registry.yarnpkg.com/
@lhci:registry=https://registry.yarnpkg.com/ 